<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Индексы Аэропортов </h1>
    <ul  type="circle">
        <li><a href="../GYD/">GYD</a></li>
        <li><a href="../BQT/">BQT</a></li>
        <li><a href="../VTB/">VTB</a></li>
        <li><a href="../GME/">GME</a></li>
        <li><a href="../GNA/">GNA</a></li>
        <li><a href="../MSQ/">MSQ</a></li>
        <li><a href="../MVQ/">MVQ</a></li>
        <li><a href="../BUS/">BUS</a></li>
        <li><a href="../TBS/">TBS</a></li>
        <li><a href="../ALA/">ALA</a></li>
        <li><a href="../NQZ/">NQZ</a></li>
        <li><a href="../OSS/">OSS</a></li>
        <li><a href="../RIX/">RIX</a></li>
        <li><a href="../VNO/">VNO</a></li>
        <li><a href="../KUN/">KUN</a></li>
        <li><a href="../KIV/">KIV</a></li>
        <li><a href="../ABA/">ABA</a></li>
        <li><a href="../AAQ/">AAQ</a></li>
        <li><a href="../KVK/">KVK</a></li>
        <li><a href="../BAX/">BAX</a></li>
        <li><a href="../IKT/">IKT</a></li>
        <li><a href="../JOK/">JOK</a></li>
        <li><a href="../KVR/">KVR</a></li>
        <li><a href="../KZN/">KZN</a></li>
        <li><a href="../KGD/">KGD</a></li>
        <li><a href="../GDX/">GDX</a></li>
        <li><a href="../KVM/">KVM</a></li>
        <li><a href="../MCX/">MCX</a></li>
        <li><a href="../MMK/">MMK</a></li>
        <li><a href="../NJC/">NJC</a></li>
        <li><a href="../OMS/">OMS</a></li>
        <li><a href="../ROV/">ROV</a></li>
        <li><a href="../AER/">AER</a></li>
        <li><a href="../IEV/">IEV</a></li>
        <li><a href="../HRK/">HRK</a></li>
        <li><a href="../KHE/">KHE</a></li>
        <li><a href="../CKC/">CKC</a></li>
        <li><a href="../CWC/">CWC</a></li>
        <li><a href="../EPU/">EPU</a></li>        
    </ul>
</body>
</html>